@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");


*{
    font-family: 'Ubuntu', sans-serif;
}

body{
    margin:  0;
}

header{
    background-color:  #2E948A;
    display: flex;
    padding: 20px 60px;
    justify-content: space-between;
    align-items: center;
}

/*pag1*/

.menu{
    margin: 0px;
    padding: 30px;
   
}

.menu-item{
    display: inline;
    }
.menu-item-link{
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    margin: 10px 30px;
}

.comecar{
    display: flex;
    margin: 7% 10%;
    justify-content: space-around;
}
.titulo{
    color: #FF4081;
    font-size: 60px;
    font-weight: 700;
    margin: 0;
}
#texto-intro{
    color: #555555;
    font-size: 25px;
    font-weight: 400;
    margin: 10px 0px;  
    margin: 20px 0px;  
}
#saber-mais{
    color:#FF4081;
    font-weight: 400;
    display: inline;
    border: 1px solid #FF4081;
    border-radius: 40px 40px; 
    padding: 5px 20px;
    font-size: 25px;
}

.cursos{
    display: flex;
    justify-content: space-around;
    text-align: center;
 
}
.img-cursos {
    max-width:300px;
    max-height:300px;
    width: auto;
    height: auto;
}

.nome-curso{
    color: #FF4081;
    font-size: 25px;
    font-weight: 700;
    margin: 20px;
}

.descricao-curso{
    font-size: 18px;
    font-weight: 300;
}

.comecar-agora{
    background-color: #FF4081;
    color:#ffffff;
    font-weight: 400;
    display: inline;
    border: 1px solid #FF4081;
    border-radius: 40px 40px; 
    padding: 5px 45px;
    font-size: 20px;
}
.depoimentos-box{
    margin: 100px;
}

#o-que-falam{
    color: #009688;
    font-weight: 700;
    font-size: 37px;
}

.depoimentos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.img-depo{
    max-width:110px;
    max-height:110px;
    width: auto;
    height: auto;
    margin: 10px;
}

.depo{
    display: flex;
    margin: 10px;
    }

.quote{
    font-size: 18px;
    font-weight: 300;
}

.id-cliente{
    font-size: 18px;
    font-weight: 400;
}

.mais-conteudo{
    margin: 100px;
    text-align: center;
}

#titulo-mais-conteudo{
    color: #009688;
    font-weight: 700;
    font-size: 37px;
    text-align: left;
}

.conteudo-blog{
    display: flex;
    justify-content: space-between;
    text-align: left;
}

.img-blog{
    width: auto;
    height: auto;
    margin: 10px 0px;
    
}

.materia-blog{
    max-width:320px;
    width: auto;
    height: auto;
    margin: 10px;

}

.titulo-blog{
    color: #009688;
    font-weight: 700;
    font-size: 27px;
    margin: 0;

}

.texto-blog{
    color: #000000;
    font-weight: 400;
    font-size: 20px;
    margin: 0%;
}

#mais-posts{
    color:#FF4081;
    font-weight: 400;
    display: inline;
    border: 1px solid #FF4081;
    border-radius: 40px 40px; 
    padding: 5px 45px;
    font-size: 25px;
    text-align: center;
    margin: 80px;
}

/*pag2*/

.pag-cursos{
    margin: 80px;
}

.subtitulo{
    color: #555555;
    font-size: 20px;
    margin: 0;
    margin-top: 5px;
    font-weight: normal;
}

.box-cursos{
    margin: 50px 10px;

}

hr{
    border: 0;
	background-color: #c4c4c4;
    height: 3px;
    width: 100%;
    color: #C4C4C4;
}

.curso-pag2{
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin-bottom: 30px;
    margin-top: 60px;
}
.curso-tipo{
    margin: 30px;
    max-width:750px;    
    width: auto;
    height: auto;

}

.img2{
    max-width:400px;
    max-height:400px;
    width: auto;
    height: auto;
    margin: 20px;
}
.nome-curso2{
    color: #FF4081;
    font-size: 35px;
    font-weight: 700;
    margin: 3px;
}


.descricao-curso2{
    font-size: 18px;
    font-weight: 300;
    margin: 30px 30px 30px 0px;
}

.comecar-agora-curso{
    background-color: #2E948A;
    color:#ffffff;
    font-weight: 400;
    display: inline;
    border: 1px solid#2E948A;
    border-radius: 40px 40px; 
    padding: 5px 45px;
    font-size: 20px;
    margin-top: 30px;
}

/*pag3*/

.intro-investimento{
    margin: 80px;
    display: flex;
    justify-content: space-between;    
}

.info-curso{
    margin-left: 80px;
    max-width: 500px;
}

.text-investimento{
    font-size: 20px;
    font-weight: 300;
}

.videoaulas{
    margin: 80px;
}

.aula{
    display: flex;
    justify-content: space-between;
    margin: 80px;
    gap: 80px;
}

.player{
    max-width:500px;
    max-height: 270px;
    width: auto;
    height: auto;
    margin: 20px;
}

.detalhe-aula{
    max-width:500px;
    width: auto;
    height: auto;
    margin: 20px;
}

.titulo-aula{
    color: #FF4081;
    font-size: 35px;
    font-weight: 700;
    margin-top: 0px;
}

.descricao-aula{
    font-size: 20px;
    font-weight: 300;

}

/*pag4*/

.blog-intro{
    display: flex;
    margin: 50px;
    align-items: center;
    justify-content: space-evenly;
    }

.textos-intro{
    margin: 40px;
    max-width: 450px;
    width: auto;
    height: auto;
}

.titulo-blog-intro{
    color: #009688;
    font-size: 50px;
    font-weight: 700;
}

.info-blog{
    font-size: 20px;
    font-weight: 300;

}

.blog-posts{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 100px 100px 100px 180px;    
}

.posts{
    max-width: 520px;   
    width: auto;
    height: auto;
}

.img-post{
    max-width: 520px;
    max-height: 260px;
    width: auto;
    height: auto;

}

.titulo-post{
    color: #FF4081;
    font-weight: 500;
    font-size: 30px;
    margin: 15px 0;
}

.texto-post{
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 50px;
}

/*pag5*/

.post-blog{
    margin: 100px 205px;
    

}

.post-titulo{
    text-align: center;
    color: #FF4081;
    font-size: 50px;
    font-weight: 500;
}

.post-data{
    text-align: center;
    color: #9D9D9D;
    font-size: 18px;
    font-weight: 300;    
}

.post-img{
    max-width:1032px;
    max-height:500px;
    width: auto;
    height: auto;
    margin: 20px 0;
}

.artigo{
    max-width:1032px;
    width: auto;
    height: auto;
    font-size: 18px;
    font-weight: 300;
}

.subtitulo-artigo{
    color: #2E948A;
    max-width:1032px;
    width: auto;
    height: auto;
    font-size: 20px;
    font-weight: 500;
}

.secao-cursos{
    margin: 130px;
}

.conheca-cursos{
    color: #FF4081;
    font-size: 50px;
    font-weight: 500;  
    text-align: center; 
    margin: 80px; 
}




footer{
    background-color:  #419488;
    display: flex;
    padding: 20px 60px;
    justify-content: space-between;
    align-items: center;
}

.footer-item{
    display: flex;
    flex-direction: row;
    }
.footer-link{
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    text-decoration: none;
    margin: 10px 30px;
}
.menu-outros{
    display: flex;
    flex-direction: column;
    
}

.button-footer{
    background-color: #419488;
    color:#ffffff;
    font-weight: 400;
    display: inline;
    border: 1px solid #ffffff;
    border-radius: 40px 40px; 
    padding: 5px 45px;
    font-size: 20px;
    text-align: center;
    margin: 10px;
    
}
