@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");


*{
    font-family: 'Ubuntu', sans-serif;
}

body{
    margin:  0;
}

header{
    background-color:  #2E948A;
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
}

a{
    text-decoration: none;
}

/*pag1*/

.menu{
    margin: 0px;   
}

.menu-item{
    display: inline;
    }
.menu-item-link{
    color: #fff;
    font-weight: bold;
    font-size: 1.7vw;
    text-decoration: none;
    margin: 0px 30px;
}

.comecar{
    display: flex;
    padding: 7% 10% 4% 10%;
    justify-content: space-around;
    flex-wrap: wrap;
}
.img-intro{
    max-width: 90%;
}
.titulo{
    color: #FF4081;
    font-size: 4.5vw;;
    font-weight: 700;
    margin: 0;
}
#texto-intro{
    color: #555555;
    font-size: 2.1vw;
    font-weight: 400;
    margin: 10px 0px;  
    margin: 20px 0px;  
}
.saber-mais{
    color:#FF4081;
    font-weight: 400;
    display: inline;
    border: 1px solid #FF4081;
    border-radius: 40px 40px; 
    padding: 5px 20px;
    font-size: 2.1vw;
}



.cursos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    background-color: #E5E5E5;
    padding: 4% 0% 4% 0%;
 
}
.img-cursos {
    max-width:300px;
    max-height:300px;
    width: auto;
    height: auto;
    max-width: 90%;
}

.nome-curso{
    color: #FF4081;
    font-size: 2.1vw;
    font-weight: 700;
    margin: 20px;
}

.descricao-curso{
    font-size: 1.4vw;
    font-weight: 300;
}

.comecar-agora{
    background-color: #FF4081;
    color:#ffffff;
    font-weight: 400;
    display: inline;
    border: 1px solid #FF4081;
    border-radius: 40px 40px; 
    padding: 5px 45px;
    font-size: 1.6vw;
}
.depoimentos-box{
    margin: 8%;
}

#o-que-falam{
    color: #009688;
    font-weight: 700;
    font-size: 3vw;
}

.depoimentos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.img-depo{
    max-width:110px;
    max-height:110px;
    width: auto;
    height: auto;
    margin: 10px;
    max-width: 90%;
}

.depo{
    display: flex;
    margin: 10px;
    }

.quote{
    font-size: 1.5vw;
    font-weight: 300;
}

.id-cliente{
    font-size: 1.5vw;
    font-weight: 400;
}

.mais-conteudo{
    padding: 10%;
    text-align: center;
    background-color: #E5E5E5;
}

#titulo-mais-conteudo{
    color: #009688;
    font-weight: 700;
    font-size: 3vw;
    text-align: left;
}

.conteudo-blog{
    display: flex;
    
    justify-content: space-between;
    text-align: left;
}

.img-blog{
    width: auto;
    height: auto;
    margin: 10px 0px;
    max-width: 90%;
    
}

.materia-blog{
    max-width:320px;
    width: auto;
    height: auto;
    margin: 10px;

}

.titulo-blog{
    color: #009688;
    font-weight: 700;
    font-size: 2.1vw;
    margin: 0;

}

.texto-blog{
    color: #000000;
    font-weight: 400;
    font-size: 1.6vw;
    margin: 0%;
}

.mais-posts{
    color:#FF4081;
    background-color: #E5E5E5;
    font-weight: 400;
    display: inline;
    border: 1px solid #FF4081;
    border-radius: 40px 40px; 
    padding: 5px 45px;
    font-size: 1.8vw;
    text-align: center;
    margin: 7%;
    margin-bottom: 0;
}

/*pag2*/

.pag-cursos{
    margin: 7%
}

.subtitulo{
    color: #555555;
    font-size: 1.6vw;
    margin: 0;
    margin-top: 5px;
    font-weight: normal;
}

.box-cursos{
    margin: 50px 10px;

}

hr{
    border: 0;
	background-color: #c4c4c4;
    height: 3px;
    width: 100%;
    color: #C4C4C4;
}

.curso-pag2{
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin-bottom: 3%;
    margin-top: 6%;
}
.curso-tipo{
    margin: 3%;
    max-width:750px;    
    width: auto;
    height: auto;

}

.img2{
    max-width:400px;
    max-height:400px;
    width: auto;
    height: auto;
    margin: 2%;
    max-width: 90%;
    object-fit: scale-down;
}
.nome-curso2{
    color: #FF4081;
    font-size: 2.9vw;
    font-weight: 700;
    margin: 3px;
}


.descricao-curso2{
    font-size: 1.5vw;
    font-weight: 300;
    margin: 5% 5% 5% 0;
}

.comecar-agora-curso{
    background-color: #2E948A;
    color:#ffffff;
    font-weight: 400;
    display: inline;
    border: 1px solid#2E948A;
    border-radius: 40px 40px; 
    padding: 5px 45px;
    font-size: 1.6vw;
    margin-top: 5%;
}

/*pag3*/

.intro-investimento{
    margin: 6%;
    display: flex;
    
    justify-content: space-between;    
}

.info-curso{
    margin-left: 7%;
    max-width: 500px;
}

.text-investimento{
    font-size: 1.6vw;
    font-weight: 300;
}

.videoaulas{
    margin: 6%;
}

.aula{
    display: flex; 
    justify-content: space-between;
    margin: 7% 0;
    gap: 7%;
}

.player{
    max-width:500px;
    max-height: 270px;
    width: auto;
    height: auto;
    margin: 20px;
    max-width: 45%;
    object-fit: scale-down;
    
}

.detalhe-aula{
    max-width:45%;
    width: auto;
    height: auto;
    margin: 20px;
}

.titulo-aula{
    color: #FF4081;
    font-size: 2.7vw;
    font-weight: 700;
    margin-top: 0px;
}

.descricao-aula{
    font-size: 1.5vw;
    font-weight: 300;

}

/*pag4*/

.blog-intro{
    display: flex;
    
    margin: 50px;
    align-items: center;
    justify-content: space-evenly;
    }

.textos-intro{
    margin: 40px;
    max-width: 450px;
    width: auto;
    height: auto;
}

.titulo-blog-intro{
    color: #009688;
    font-size: 3.5vw;
    font-weight: 700;
}

.info-blog{
    font-size: 1.5vw;
    font-weight: 300;

}

.blog-posts{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 100px 100px 100px 180px;    
}

.posts{
    max-width: 520px;   
    width: auto;
    height: auto;
}

.img-post{
    max-width: 520px;
    max-height: 260px;
    width: auto;
    height: auto;
    max-width: 90%;
}

.titulo-post{
    color: #FF4081;
    font-weight: 500;
    font-size: 2.2vw;
    margin: 15px 0;
}

.texto-post{
    font-size: 1.3vw;
    font-weight: 300;
    margin-bottom: 50px;
    color: #000000;
}

/*pag5*/

.post-blog{
    margin: 100px 205px;  

}

.post-titulo{
    text-align: center;
    color: #FF4081;
    font-size: 3.5vw;
    font-weight: 500;
}

.post-data{
    text-align: center;
    color: #9D9D9D;
    font-size: 1.3vw;
    font-weight: 300;    
}

.post-img{
    max-width:1032px;
    max-height:500px;
    width: auto;
    height: auto;
    margin: 20px 0;
    max-width: 90%;
}

.artigo{
    max-width:1032px;
    width: auto;
    height: auto;
    font-size: 1.4vw;
    font-weight: 300;
}

.subtitulo-artigo{
    color: #2E948A;
    max-width:1032px;
    width: auto;
    height: auto;
    font-size: 1.6vw;
    font-weight: 500;
}

.secao-cursos{
    padding: 80px 0;
    background-color: #E5E5E5;
}

.conheca-cursos{
    color: #FF4081;
    font-size: 3.5vw;
    font-weight: 500;  
    text-align: center; 
    margin: 0;
    padding-bottom: 50px;
    }

/*pag6*/

#pag-contato{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; 
    justify-content: space-between;   
    margin: 80px;
}

.contato{
    max-width: 500px;
    width: 100%;
    height: 100%;
}

.contato-titulo{
    color: #FF4081;
    font-size: 3vw;
    font-weight: 700;

}

form{
    max-width: 500px;
    max-height: 500px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 30px;
    margin-left: 20px;
    gap: 20px;
    }

input{
    width: 100%;
    border: 1px solid #686868;
    border-radius: 5px;
    height: 30px;        
}
textarea{
    width: 100%;
    height: 300px;
    border: 1px solid #686868;
    border-radius: 5px;
}

::placeholder{
    padding: 10px 20px;
    margin-bottom: 10px;
    max-height: 200px;
}

.enviar{
    background-color: #FF4081;
    color:#ffffff;
    font-weight: 400;
    display: inline;
    border: 1px solid #FF4081;
    border-radius: 40px 40px; 
    padding: 5px 45px;
    font-size: 1.5vw;
}

#img-contato{
    max-width: 444px;
    max-height: 444px;
    width: 100%;
    height: 100%;
    margin: 80px;
}    

footer{
    background-color:  #419488;
    display: flex;
    flex-wrap: wrap;
    padding: 1% 3%;
    justify-content: space-between;
    align-items: center;
}

.footer-item{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    }
.footer-link{
    color: #fff;
    font-weight: 400;
    font-size: 1.5vw;
    text-decoration: none;
    margin: 10% 30%;
}
.menu-outros{
    display: flex;
    flex-direction: column;
    
}

.button-footer{
    background-color: #419488;
    color:#ffffff;
    font-weight: 400;
    display: inline;
    border: 1px solid #ffffff;
    border-radius: 40px 40px; 
    padding: 5px 45px;
    font-size: 1.5vw;
    text-align: center;
    margin: 10px 10px;
    
}
button:hover {
    transition: .5 all;
    background-color: #FFFFFF;
    color: #2E948A;
}

@media (max-width: 850px){
    
        .img-intro{
            width: 200px;

        }
        .img-cursos{
            height: 180px;
        }
        .img-depo{
            width: 80px;
        }
        .img-blog{
            width: 150px;
        }
        .img2{
            width: 200px;
        }
        .img-post{
            width: 200px;
        }

    

}


@media (max-width:500px){
    
    .img-intro{
        width: 150px;

    }
    .img-cursos{
        height: 100px;
    }
    .img-depo{
        width: 60px;
    }
    .img-blog{
        width: 100px;
    }
    .img2{
        width: 150px;
    }
    .img-post{
        width: 150px;
    }

    
}
